body{
    background-color: black;
  }
  
  h1{
    color: white;
    font-family: 'Baskervville', serif;
  }
  
  p{
    color: white;
    font-family: 'Roboto Mono'
      monospace;
  }
  
  .other-h1 {
    color: white;
    
  }
  
  
  
  
  
  .White{
    color: white;
  }
  
  #Image{
    text-align: right;
    color: white;
    family-font: Mono;
  }
  